{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>new 하윙</h1>

    <form action="{% url 'board:create' %}", method="GET">
        <select class="form-select" name="board" aria-label="Default select example">
            <option selected>게시판 유형을 선택해주세요.</option>
            <option value="자유 게시판">자유 게시판</option>
            <option value="익명 게시판">익명 게시판</option>
        </select>
        <div class="mb-3 d-flex" >
            <label for="exampleFormControlInput1" class="form-label">제목</label>
            <input type="text" name="title" class="form-control me-3" id="exampleFormControlInput1" style="width:45%">
            <label for="exampleFormControlInput1" class="form-label">작성자</label>
            <input type="text" name="user" class="form-control" id="exampleFormControlInput1" style="width:45%">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">리뷰 내용</label>
            <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input type="submit" class="btn btn-outline-dark w-100" value="작성하기">
    </form>
</div>
{% endblock %}